:root {
	--primary: #ffffff;
	--gray: #f7f7f7;
	--order-kit-inputs: #f4f4f4;
	--secondary: #333333;
	--tbc-blue: #00aeef;
	--border: #dadada;
}
body[data-theme='night'] {
	--primary: #333333;
	--secondary: #ffffff;
	--gray: #222222;
	--order-kit-inputs: #333333;
	--border: #575757;
}

/* deafult styles */
/* HTML, Body styles */
html {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
body {
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: var(--primary);
}
body[data-theme='night'] {
	color: #dadada;
}

/* Font Styles */
@font-face {
	font-family: 'TBC-black';
	src: url('./font/TBCSailec-Black.eot');
	src: url('./font/TBCSailec-Black.eot?#iefix') format('embedded-opentype'),
		url('./font/TBCSailec-Black.woff2') format('woff2'),
		url('./font/TBCSailec-Black.woff') format('woff'),
		url('./font/TBCSailec-Black.ttf') format('truetype'),
		url('./font/TBCSailec-Black.svg#TBCSailec-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TBC-Regular';
	src: url('./font/TBCSailec-Regular.eot');
	src: url('./font/TBCSailec-Regular.eot?#iefix') format('embedded-opentype'),
		url('./font/TBCSailec-Regular.woff2') format('woff2'),
		url('./font/TBCSailec-Regular.woff') format('woff'),
		url('./font/TBCSailec-Regular.ttf') format('truetype'),
		url('./font/TBCSailec-Regular.svg#TBCSailec-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TBC-Medium';
	src: url('./font/TBCSailec-Medium.eot');
	src: url('./font/TBCSailec-Medium.eot?#iefix') format('embedded-opentype'),
		url('./font/TBCSailec-Medium.woff2') format('woff2'),
		url('./font/TBCSailec-Medium.woff') format('woff'),
		url('./font/TBCSailec-Medium.ttf') format('truetype'),
		url('./font/TBCSailec-Medium.svg#TBCSailec-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TBC-Bold';
	src: url('./font/TBCSailec-Bold.eot');
	src: url('./font/TBCSailec-Bold.eot?#iefix') format('embedded-opentype'),
		url('./font/TBCSailec-Bold.woff2') format('woff2'),
		url('./font/TBCSailec-Bold.woff') format('woff'),
		url('./font/TBCSailec-Bold.ttf') format('truetype'),
		url('./font/TBCSailec-Bold.svg#TBCSailec-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TBC-Light';
	src: url('./font/TBCSailec-Light.eot');
	src: url('./font/TBCSailec-Light.eot?#iefix') format('embedded-opentype'),
		url('./font/TBCSailec-Light.woff2') format('woff2'),
		url('./font/TBCSailec-Light.woff') format('woff'),
		url('./font/TBCSailec-Light.ttf') format('truetype'),
		url('./font/TBCSailec-Light.svg#TBCSailec-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'TBC-Medium';
	font-size: 16px;
	text-decoration: none;
	outline-color: none;
	box-sizing: border-box;
	color: var(--secondary);
}
@media (max-width: 767px) {
	* {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
/* Reset Styles */
ul,
li,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
nav {
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: normal;
}

.flex-box {
	display: flex;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.br-6 {
	border-radius: 6px;
}
.font-14 {
	font-size: 14px;
}
.font-24 {
	font-size: 24px;
}
.font-55 {
	font-size: 55px;
}
.uppercase {
	text-transform: uppercase;
	font-feature-settings: 'case' on;
}
.tbc-black {
	font-family: 'TBC-black';
}
.tbc-regular {
	font-family: 'TBC-Regular';
}
.tbc-medium {
	font-family: 'TBC-Medium';
}
.tbc-bold {
	font-family: 'TBC-Bold';
}
.tbc-light {
	font-family: 'TBC-Light';
}
.container {
	max-width: 1170px;
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
	margin-right: auto;
	margin-left: auto;
}

/* animated link */
.animated-link {
	cursor: pointer;
}
.animated-link svg {
	transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	margin-right: 14px;
	transition-delay: 0s;
}
.animated-link span {
	transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	transition-delay: 0.2s;
	font-family: 'TBC-Bold';
	color: var(--tbc-blue);
}
.animated-link-a a {
	transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	transition-delay: 0.2s;
	font-family: 'TBC-Bold';
	color: var(--tbc-blue);
}
@media (min-width: 1025px) {
	.animated-link:hover svg {
		transform: translateX(10px);
		transition-delay: 0.2s !important;
		transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	}
	.animated-link:hover span,
	.animated-link-a:hover a {
		color: var(--tbc-blue);
		transform: translateX(10px);
		transition-delay: 0s;
		transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	}
}

@media (min-width: 360px) {
	.container {
		max-width: 90%;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 360px) and (max-width: 1000px) {
	.slider-container {
		max-width: 95%;
		margin-right: 0 !important;
	}
}

@media (min-width: 1000px) {
	.container {
		max-width: 930px;
	}
	.slider-container {
		max-width: 93%;
		margin-right: 0 !important;
	}
}
@media (min-width: 1170px) {
	.container {
		max-width: 1110px;
	}
	.slider-container {
		max-width: 1110px;
		margin-right: auto !important;
	}
}

input {
	-webkit-user-select: text; /* Chrome, Opera, Safari */
	-moz-user-select: text; /* Firefox 2+ */
	-ms-user-select: text; /* IE 10+ */
	user-select: text; /* Standard syntax */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
