:root {
	--primary: #ffffff;
	--gray: #f7f7f7;
	--order-kit-inputs: #f4f4f4;
	--secondary: #333333;
	--tbc-blue: #00aeef;
	--border: #dadada;
}
body[data-theme='night'] {
	--primary: #333333;
	--secondary: #ffffff;
	--gray: #222222;
	--order-kit-inputs: #333333;
	--border: #575757;
}

/* deafult styles */
/* HTML, Body styles */
html {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
body {
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: var(--primary);
}
body[data-theme='night'] {
	color: #dadada;
}

* {
	font-family: 'TBC-Medium';
	font-size: 16px;
	text-decoration: none;
	outline-color: none;
	box-sizing: border-box;
	color: var(--secondary);
}
@media (max-width: 767px) {
	* {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
/* Reset Styles */
ul,
li,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
nav {
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: normal;
}

.flex-box {
	display: flex;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.br-6 {
	border-radius: 6px;
}
.font-14 {
	font-size: 14px;
}
.font-24 {
	font-size: 24px;
}
.font-55 {
	font-size: 55px;
}
.uppercase {
	text-transform: uppercase;
	font-feature-settings: 'case' on;
}
.tbc-bold {
	font-family: 'TBC-Bold';
}
.container {
	max-width: 1170px;
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
	margin-right: auto;
	margin-left: auto;
}

/* animated link */
.animated-link {
	cursor: pointer;
}
.animated-link svg {
	transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	margin-right: 14px;
	transition-delay: 0s;
}
.animated-link span {
	transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	transition-delay: 0.2s;
	font-family: 'TBC-Bold';
	color: var(--tbc-blue);
}
.animated-link-a a {
	transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	transition-delay: 0.2s;
	font-family: 'TBC-Bold';
	color: var(--tbc-blue);
}
@media (min-width: 1025px) {
	.animated-link:hover svg {
		transform: translateX(10px);
		transition-delay: 0.2s !important;
		transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	}
	.animated-link:hover span,
	.animated-link-a:hover a {
		color: var(--tbc-blue);
		transform: translateX(10px);
		transition-delay: 0s;
		transition: 0.8s cubic-bezier(0.15, -0.01, 0, 0.99);
	}
}

@media (min-width: 360px) {
	.container {
		max-width: 90%;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 360px) and (max-width: 1000px) {
	.slider-container {
		max-width: 95%;
		margin-right: 0 !important;
	}
}

@media (min-width: 1000px) {
	.container {
		max-width: 930px;
	}
	.slider-container {
		max-width: 93%;
		margin-right: 0 !important;
	}
}
@media (min-width: 1170px) {
	.container {
		max-width: 1110px;
	}
	.slider-container {
		max-width: 1110px;
		margin-right: auto !important;
	}
}

input {
	-webkit-user-select: text; /* Chrome, Opera, Safari */
	-moz-user-select: text; /* Firefox 2+ */
	-ms-user-select: text; /* IE 10+ */
	user-select: text; /* Standard syntax */
}
